.dashicons-mlFloorball:before {
    background-color: transparent !important;
    background-image: url('mlFloorball.png') !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 20px !important;
    padding: 7px 0 !important;
    width: 20px !important;
    content: '' !important;
}

.mlFloorball {
    margin-right: 20px !important;
}

.mlFloorball a {
    border: 0 !important;
    box-shadow: none !important;
    cursor: pointer !important;
}

.mlFloorball h2 {
    margin-top: 20px !important;
}

.mlFloorball hr {
    margin-top: 20px !important;
}

.mlFloorball p {
    margin: 20px 0 0 0 !important;
}

.mlFloorball pre {
    margin: 20px 0 0 0 !important;
}

.mlFloorball table {
    margin-top: 20px !important;
}

.mlFloorball table tr td {
    position: relative !important;
}

.mlFloorball table tr td select {
    width: 100% !important;
}

.mlFloorball ul {
    color: #777 !important;
    line-height: 23px !important;
    margin: 20px 0 0 0 !important;
}

.mlFloorball .bordered {
    border-collapse: collapse !important;
}

.mlFloorball .bordered td {
    border: 1px solid #e5e5e5 !important;
    vertical-align: middle !important;
}

.mlFloorball .bordered .top {
    vertical-align: top !important;
}

.mlFloorball .error {
    margin: 20px 0 0 0 !important;
}

.mlFloorball .error p {
    margin: 10px 0 !important;
}

.mlFloorball .icon {
    text-decoration: none !important;
}

.mlFloorball .line-through {
    text-decoration: line-through !important;
}

.mlFloorball .narrow {
    white-space: nowrap !important;
    width: 100px !important;
}

.mlFloorball .pull-left {
    float: left !important;
}

.mlFloorball .submit {
    margin: 20px 0 !important;
    padding: 0 !important;
}

.mlFloorball .text-center {
    text-align: center !important;
}

.mlFloorball .text-center a {
    display: block !important;
}

.mlFloorball .text-center a img {
    display: inline-block !important;
}

.mlFloorball .text-right {
    text-align: right !important;
}

.mlFloorball .updated {
    margin: 20px 0 0 0 !important;
}

.mlFloorball .updated p {
    margin: 10px 0 !important;
}

.mlFloorball .welcome-panel {
    margin-top: 20px !important;
    padding: 0 20px 20px 20px !important;
}

.mlFloorball .wide {
    width: 100% !important;
}
